.news-letter-s1 h6{
    font-size: 18px;
}
.news-letter-s1 p{
    font-size: 16px;
}
.news-letter-s2 p{
    font-size: 16px;
    line-height: 33px;
}
.input-news-letter::-webkit-input-placeholder{
    font-size: 16px;
}
.news-letter-s3 input.input-news-letter{
    border-radius: 0!important;
}
.news-letter-s3 button{
    font-size: 14px;
}
.main-section-footer h5{
    font-size: 15px;
    border-bottom: 3px solid #a09f9f;
    padding-bottom: 10px;
    display: inline-flex;
}
.footer-nav-custom li a{
    font-size: 14px;
    color: #4e4d4d;
    padding-right: 0;
    transition: 0.5s ease;
}
.footer-nav-custom li a:hover{
    color: #a09f9f;
    margin-right: 3px;
}
.support{
    font-size: 39px;
    color: rgb(52, 127, 240);
}
.tell-support p{
    font-size: 14px;
}
.tell-support a{
    font-size: 14px;
}
.social-icon p{
    font-size: 15px;
}
.social-icon ul li a{
    color: #afafaf;
}
.social-icon ul li a{
    color: #afafaf;
    transition: 0.5s ease;
}
.social-icon ul li a:hover{
    color: rgb(52, 127, 240);
}

.news-latter .row{
    margin-top: -77px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.075);
}

.custom-footer-bg{
    background-color: #f5f4f4;
}