.owl-carousel .p-title{
    font-size: 14px;
    color: #3c3b3b;
}
.owl-carousel .p-price{
    font-size: 14px;
    color: #3c3b3b;
}
.owl-carousel .card-img-top{
    max-width: 200px;
    align-self: center;
}
.custom-card{
    border: none;
    border-radius: 0;
}
.custom-card:hover{
    box-shadow: 0 0 10px 3px #efefef;
    z-index: 1;
}
